<turbo-frame id="bottom_form">
    <div class="content">
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <h2>REGISTER</h2>

        <%= form_with(model: @user, url: user_registration_path, class: "login_form", data: { turbo: false }) do |f| %>
          <div class="form_group">
              <%= f.label :name, "Name*", class: "form_label" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form_input" %>
          </div>

          <div class="form_group">
              <%= f.label :nickname, "Nickname*", class: "form_label" %>
              <%= f.text_field :nickname, autofocus: true, autocomplete: "username", class: "form_input" %>
          </div>

          <div class="form_group">
            <%= f.label :profile_picture, "Profile_picture", class: "form_label" %>
            <%= f.file_field :profile_pic, autofocus: true, autocomplete:"photo", class: "form_input"%>
          </div>
          
          <div class="form_group_color" data-controller="color">
            <%= f.label :color_id, "Favorite Color*", class: "form_label" %>
            <%= f.hidden_field :color_id, id: "user_color_id", data: { color_target: "input" } %>
            <div class="dropdown">
                <button type="button" class="dropdown__btn" data-action="click->color#toggleMenu" data-color-target="button">select a color</button>
                <div class="dropdown__menu-layer" data-color-target="layer" >
                    <div class="dropdown__menu">
                        <% Color.all.each do |color| %>
                            <div class="dropdown__item color-option" style="background-color: <%= color.backcolor %>;" data-action="click->color#select" data-color-id="<%= color.id %>" title="<%= color.name %>"></div>
                        <% end %>
                    </div>
                </div>
            </div>
           </div>
                 
          <div class="form_group">
              <%= f.label :email, "Email*", class: "form_label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_input" %>
          </div>

          <div class="form_group">
              <%= f.label :password, "Password*", class: "form_label" %>
              <%= f.password_field :password, class: "form_input", placeholder:"" %>
          </div>

          <div class="form_group">
              <%= f.label :password_confirmation, "Password confirmation*", class: "form_label" %>
              <%= f.password_field :password_confirmation, class: "form_input", placeholder: "" %>
          </div>

          <div class="form_group_btn">
              <%= f.submit "Register", class: "btn" %>
          </div>
        <% end %>
    </div>
</turbo-frame>

