<div id="waiting_list">
  <ul class="f_waiting_list">
    <% @incoming_requests.each do |user| %>
      <li class="f_waiting_list li">
        <%= user.nickname %>（申請あり）
        <%= button_to "承認", relationships_path(friend_email: user.email), method: :post, class: "btn_primary_addfriend" %>
        <%= button_to "×", relationship_path(user), method: :delete, class: "btn_cancel_follow" %>
      </li>
    <% end %>

    <% users.each do |user| %>
      <li class="f_waiting_list li">
        <%= user.nickname %>（申請中）
        <%= button_to "×", relationship_path(user), method: :delete, class: "btn_cancel_follow" %>
      </li>
    <% end %>
  
  </ul>
</div>
