
  
  <div class="back_button_area">
    <%= link_to "â†", studies_path, class: "back_button" %>
  </div>

  <div class="main_bottom_study">
    <div class="card_space">
      <% @categories.each do |category| %>
        <%= link_to category_marked_words_path(category), data: { turbo_frame: "_top" } do %>
          <div class="card">
            <div class="card_pic">
              <% if category.category_img.attached? %>
                <%= image_tag category.category_img, class: "card_img" %>
              <% else %>
                <%= image_tag "sample1.png", class: "card_img" %>
              <% end %>
            </div>
            <div class="card_name"><%= category.category_name %></div>
          </div>
        <% end %>
      <% end %>
    </div>  
  </div>

