
  <div class="back_button_area">
      <%= link_to "←", groups_path, class: "back_button" %>
  </div>

  <div class="main_bottom_g">
    <div class="group_info">
      <div class="group_info_left">
        <div class="group_img">
          <% if @group.group_img.attached? %>
            <%= image_tag @group.group_img, class: "group_g_img" %>
           <% else %>
            <%= image_tag "sample1.png", class: "group_g_img" %>
          <% end %>
        </div>

        <div data-controller="modal">
          <div class="group_member" data-action="click->modal#open">
            <%= image_tag 'friends.png', class: 'friends_icon_g' %>
            <span><%=  @group.users.count || 0 %></span>
          </div>
          <!-- modal -->
          <div class="modal" data-modal-target="modal" style="display: none;">
            <div class="modal__overlay" data-action="click->modal#close"></div>
            <div class="modal__content">
              <button class="modal__close-btn" data-action="click->modal#close">×</button>
              <!-- 内容 -->
              <div class="add_gmember">
                <%= render partial: "groups/add_gmember"%>
              </div>
              <div class="member_list">
                <p class="m_form_label">メンバー</p>
                <%= render partial: "groups/member_list"%>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="group_info_right">
        <div class="mypage_name">
          <h2><%= @group.group_name || "Groupname" %></h2>
          <table class="mypage_info">
            <tr>
                <td class="mypage_value"><%= @group.group_description %></td>
            </tr>
          </table>
        </div>

        <div data-controller="modal">
          <div class="mypage_settings" data-action="click->modal#open">
            <%= image_tag 'setting.png', class: 'mypage_settings_icon' %>
          </div>
          <!-- modal -->
          <div class="modal" data-modal-target="modal" style="display: none;">
            <div class="modal__overlay" data-action="click->modal#close"></div>
            <div class="modal__content">
              <button class="modal__close-btn" data-action="click->modal#close">×</button>

              <h2>Setting</h2>
              <%= form_with(model: @group, url: group_path(@group), method: :patch, data: { turbo_frame: "_top" }, html: { multipart: true }) do |f| %>
                <div class="form_group">
                  <%= f.label :group_name, "グループ名", class: "m_form_label" %><br>
                  <%= f.text_field :group_name, class: "m_form_input" %>
                </div>

                <div class="form_group">
                  <%= f.label :group_description, "説明", class: "m_form_label" %><br>
                  <%= f.text_field :group_description, class: "m_form_input" %>
                </div>

                <div class="form_group">
                  <%= f.label :group_img, "グループ画像", class: "m_form_label" %><br>
                  <%= f.file_field :group_img, class: "m_form_input" %>
                </div>

                <div class="form_actions">
                  <%= f.submit "更新", class: "btn_primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card_space_group">
      <% @group_words.each do |group_word| %>
      <%= link_to group_group_word_path(@group, group_word) do %>
      <div class="card_show_g">
        <div class="card_title"><%= group_word.word.title %></div>
        <div class="card_title"><%= group_word.user.nickname || "Unknown" %></div>
      </div>
      <% end %>
      <% end %>
    </div>    
  </div>  