  <div class="main_bottom_study">      
      <% if @word.present? %>
        <%= link_to word_word_marks_path(word_id: @word.id), data: { turbo_frame: "main_content" } do %>
          <div class="main_selector">
            <div class="study_select task">本日のタスク</div>
          </div>
        <% end %>
      <% else %>
        <div class="main_selector">
          <div class="study_select task">本日のタスク（表示不可）</div>
        </div>
      <% end %>
       
    <div class="card_space"> 
      <% @categories.each do |category| %>
         <%= link_to study_path(category.id), data: { turbo_frame: "_top" } do %>
         <div class="card">
            <div class="card_pic">
            <% if category.category_img.attached? %>
                <%= image_tag category.category_img, class: "card_img" %>
             <% else %>
                <%= image_tag "sample1.png", class: "card_img" %>
            <% end %>
            </div>
            <div class="card_name"><%= category.category_name %></div>
         </div>
         <% end %>
      <% end %>
    </div>
   </div>