    <div class="mypage_main">
        <div class="mypage_one">
            <div class="mypage_one_left">
                <div class="mypage_user">
                    <% if current_user.profile_pic.attached? %>
                     <%= image_tag current_user.profile_pic, class: "mypage_user_img" %>
                    <% else %>
                     <%= image_tag "sample1.png", class: "mypage_user_img" %>
                    <% end %>
                </div>
                
                <div data-controller="modal">
                    <div class="friends" data-action="click->modal#open">
                        <div class="friends_icon_wrapper">
                            <%= image_tag 'friends.png', class: 'friends_icon' %>
                            <%= render "relationships/friend_alert", count: @incoming_requests&.count || 0 %>
                        </div>
                        <span id="friend_count"><%= render partial: "relationships/friend_count"%></span>
                    </div>
                    <!-- modal -->
                    <div class="modal" data-modal-target="modal" style="display: none;">
                        <div class="modal__overlay" data-action="click->modal#close"></div>
                        <div class="modal__content">
                            <button class="modal__close-btn" data-action="click->modal#close">×</button> 
                            <h3>Follow</h3>
                            <%= form_with url: search_relationships_path, method: :post, id: "friend_search_form", data: { turbo_frame: "search_result" } do |f| %>
                                <%= f.text_field :email, placeholder: "メールアドレスを入力", class: "m_form_input", autocomplete: "email" %>
                                <%= f.submit "検索", class: "btn_primary_friend" %>
                            <% end %>

                            <div id="search_result">
                                <%= render partial: "relationships/search_result", locals: { searched_user: nil } %>
                            </div>

                            <h3>Waiting list</h3>
                            <div id="waiting_list" class="waiting_list">
                                <%= render partial: "relationships/waiting_list", locals: {users: current_user.followings.reject { |u| current_user.matchers.include?(u) } } %>
                            </div>                           
                        </div>
                    </div>   
                </div>  
            </div>           
                                 

            <div class="mypage_one_right">
                <div class="mypage_name">
                    <h2><%= current_user.nickname || "Nickname" %></h2>
                    <table class="mypage_info">
                        <tr>
                            <th class="mypage_label">Name:</th>
                            <td class="mypage_value"><%= current_user.name || "name" %></td>
                        </tr>
                        <tr>
                            <th class="mypage_label">Color:</th>
                            <td class="mypage_value"><div class="color-box" style="background-color: <%= current_user.color.name %>;"></div></td>
                        </tr>
                        <tr>
                            <th class="mypage_label">Email:</th>
                            <td class="mypage_value"><%= current_user.email || "email" %></td>
                        </tr>
                    </table>
                </div>
                <div data-controller="modal">
                    <div class="mypage_settings" data-action="click->modal#open">
                       <%= image_tag 'setting.png', class: 'mypage_settings_icon' %>
                    </div>
                    <!-- modal -->
                    <div class="modal" data-modal-target="modal" style="display: none;">
                        <div class="modal__overlay" data-action="click->modal#close"></div>
                        <div class="modal__content">
                            <button class="modal__close-btn" data-action="click->modal#close">×</button> 
                            <h2>Setting</h2>
                            <%= form_with(model: @user, url: user_registration_path, method: :patch, data: { turbo_frame: "main_content", turbo_visit_control: "reload" }, html: { multipart: true }) do |f| %>

                            <div class="form_group">
                                <%= f.label :name, "ユーザー名", class: "m_form_label" %><br>
                                <%= f.text_field :name, class: "m_form_input" %>
                            </div>

                            <div class="form_group">
                                <%= f.label :nickname, "ニックネーム", class: "m_form_label" %><br>
                                <%= f.text_field :nickname, class: "m_form_input" %>
                            </div>

                            <div class="form_group">
                                <%= f.label :color_id, "色", class: "m_form_label" %><br>
                                <%= f.collection_select(:color_id, Color.all, :id, :name, {}, { class: "select-box m_form_input", id: "profile_pic" }) %>
                            </div>
              
                            <div class="form_group">
                                <%= f.label :profile_pic, "プロフィール画像", class: "m_form_label" %><br>
                                <%= f.file_field :profile_pic, class: "m_form_input" %>
                            </div>

                            <div class="form_group">
                                <%= f.label :email, "メールアドレス", class: "m_form_label" %><br>
                                <%= f.text_field :email, class: "m_form_input" %>
                            </div>

                            <div class="form_actions">
                                <%= f.submit "更新", class: "btn_primary" %>
                            </div>
                            <% end %> 
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="mypage_two">
            <h3>Friends</h3>
            <div id="friend_list" class="friends_list_box">
                <%= render partial: "relationships/friend_list", locals: { users: current_user.matchers } %>
            </div>
        </div>



        <div class="mypage_three">
            <div class="mypage_card_space">
                <% if @categories.empty? %>
                    <div class="mypage_card">
                        <div class="card_pic_chart">
                            <p>登録されておりません</p>
                        </div>
                    </div>
                 <% else %>
                    <% @categories.each do |category| %>  
                        <div class="mypage_card">
                            <% if category.words.count == 0 %>
                                <div class="card_pic_chart">
                                    <p>単語が登録されておりません</p>
                                </div>
                             <% else %>
                                <div class="card_pic_chart">
                                    <%= pie_chart @chart_data[category.id], colors: [@chart_color, @base_color], library: { backgroundColor: "transparent",
                                                                                       legend: { position: "right" },
                                                                                       tooltip: {callbacks: {label: "function(tooltipItem, data) { var label = data.labels[tooltipItem.index] || ''; var value = data.datasets[0].data[tooltipItem.index] || 0; return label + ': ' + value + '%'; }"}},
                                                                                     },
                                    height: "180px",
                                    donut: true %>
                                </div>
                            <% end %>

                            <div class="card_text">
                                <div class="card_chart_name"><%= category.category_name %></div>
                                <% if category.words.count == 0 %>
                                    <div class="word_chart_count">-</div>
                                 <% else %>
                                    <div class="word_chart_count">
                                       ( total: <%= category.words.count %> )
                                    </div>
                                <% end %>
                            </div>
                        </div>  
                    <% end %>
                <% end %>  
                
            </div>
        </div>         
    </div>




