<turbo-frame id="bottom_form">
    <div class="content">
        <%= render "devise/shared/error_messages", resource: resource %>
        <h2>Login</h2>

        <%= form_with(model: resource, url: session_path(resource_name), class: "login_form", data: { turbo: false }) do |f| %>
            <div class="form_group">
                <%= f.label :email, "", class: "form_label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_input" %>
            </div>

            <div class="form_group">
                <%= f.label :password, "", class: "form_label" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "form_input" %>
            </div>

            <div class="form_group_btn">
                <%= f.submit "Login", class: "btn" %>
            </div>
        <% end %>
    
        <div>
            <%= link_to "Forgotten password?", new_user_password_path, class: "forgot-password" %>
        </div>
    </div>
</turbo-frame>
