  <div class="back_button_area_word">
    <%= link_to "←", @back_path, class: "back_button" %>
  </div>

  <div class="main_bottom_word">
    <!-- < -->
    <div class="nav_button nav_button_left">
      <% if @previous_word %>
        <%= link_to "＜", category_marked_words_path(@category, id: @previous_word.id), data: { turbo_frame: "main_content" }, class: "nav_button_link" %>
      <% end %>
    </div> 

    <!-- card -->
    <div class="main_card"
      data-controller="word-mark"
      data-mark-type="<%= @word.word_marks.find_by(user: current_user)&.mark_type %>"
      data-word-mark-next-url="<%= @next_word ? category_marked_words_path(@category, id: @next_word.id) : word_marks_path %>">
      <div class="word_card_top">
        <div class="word_title"><%= @word.title %></div>
      </div>

      <div class="word_q" data-action="click->word-mark#toggleAnswer" data-word-id="<%= @word.id %>">
        <%= raw(@word.question) %>
      </div>
      <div class="word_a" data-word-mark-target="answer" data-word-id="<%= @word.id %>" style="display: none;">
        <%= raw(@word.answer) %>
      </div>

      <div class="toggle">
        <button class="mark-button correct" data-word-id="<%= @word.id %>" data-word-mark-target="correct">⚪︎</button>
        <button class="mark-button wrong" data-word-id="<%= @word.id %>" data-word-mark-target="wrong">×</button>
      </div>
    </div>

    <!-- > -->
    <div class="nav_button nav_button_right">
      <% if @next_word %>
        <%= link_to "＞", category_marked_words_path(@category, id: @next_word.id), data: { turbo_frame: "" }, class: "nav_button_link", aria: { label: "次の単語" } %>
      <% end %>
    </div>
  </div>  


