<turbo-frame id="main_content">


  <div class="back_button_area_word">
    <%= link_to "←", categories_path, class: "back_button" %>
  </div>  

  <div class="main_bottom_word">
    <div class="main_card"> 
      <%= form_with(model: @word, url: category_words_path(@category), data: { turbo_frame: "main_content" }) do |f| %>
              <div class="word_card_top">
                <div class="word_title">
                  <%= f.text_field :title, class: "form_input", placeholder:"Title" %>
                </div>
              </div>

              <div class="word_q">
                <%= f.text_area :question, class: "form_textarea" , placeholder:"Question" %>
              </div>

              <div class="word_a">
                <%= f.text_area :answer, class: "form_textarea", placeholder:"Answer" %>
              </div>

              <div class="form_edit">
                <%= f.submit "作成", class: "edit_submit_button" %>
              </div>
            <% end %>
    </div>
    
  </div>  

  <div class="main_foot"></div>
</turbo-frame>
