 
  <div class="back_button_area_word">
    <%= link_to "←", @back_path, class: "back_button" %>
  </div>

  <div class="main_bottom_word">
    <!-- < -->
    <% if @previous_word %>
    <div class="nav_button nav_button_left">
      <%= link_to "＜", category_word_path(category_id: @category.id, id: @previous_word.id, from_study: params[:from_study]), class: "nav_button_link", aria: { label: "forward" } %>
    </div>
    <% end %>
    

    <!-- card -->
    <% if @word %>
      <div class="main_card" <%= 'data-controller="click-answer"' if @from_study %>>
        <div class="word_card_top">
          <div class="word_title"><%= @word.title %></div>

          <div class="word_menu" data-controller="menu">
            <ul>
              <li id="menu1" class="menu-button">
                <button type="button" class="menu-toggle" aria-label="open the menu" data-action="click->menu#toggle">☰</button>
                <ul id="menu1-pull-down" class="menu1-lists hidden" data-menu-target="menu">
                  <li class="menu-item">
                    <%= link_to edit_category_word_path(@word.category_id, @word.id), class: 'menu-link' do %>
                        <%= image_tag "menu1.png", class: "icon" %>
                        <span class="menu-text">edit</span>
                    <% end %>
                  </li>

                  <li class="menu-item">
                    <%= link_to category_word_path(@word.category_id, @word.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure? Do you want to delete this data?' }, class: 'menu-link' do %>
                        <%= image_tag "menu2.png", class: "icon" %>
                        <span class="menu-text">delete</span>
                    <% end %>
                  </li>

                  <li class="menu-item_share" data-controller="share" data-share-word-id="<%= @word.id %>">
                    <button type="button" class="menu-link" data-action="click->share#toggle">
                      <%= image_tag "menu3.png", class: "icon" %>
                      <span class="menu-text">share</span>
                    </button>

                    <div class="share-dropdown hidden" data-share-target="dropdown">
                      <h4>share to ...</h4>
                      <%= form_with url: share_category_word_path(@category, @word), method: :post, data: { turbo_frame: "_top" } do |f| %>
                        <% @groups.each do |group| %>
                          <label class="checkbox_item_menu">
                            <%= check_box_tag "group_ids[]", group.id, @word.groups.include?(group) %>
                              <% if group.group_img.attached? %>
                                <%= image_tag group.group_img, class: "group_share_img" %>
                              <% else %>
                                <%= image_tag "sample1.png", class: "group_share_img" %>
                              <% end %>
                              <%= group.group_name %>
                          </label>
                        <% end %>
                        <div class="form_actions">
                          <%= f.submit "share", class: "btn_primary" %>
                        </div>
                      <% end %>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
       <% else %>
       <p>マークされた単語がありません。</p>
      <% end %>

      <div class="word_q" <%= 'data-action="click->click-answer#toggle"' if @from_study %> data-word-id="<%= @word.id %>">
        <%= raw(@word.question) %>
      </div>

      <div
        class="word_a"
        data-word-id="<%= @word.id %>"
        <%= 'data-click-answer-target="answer"' if @from_study %>
        <%= 'style="display: none;"' if @from_study %>>
        <%= raw(@word.answer) %>
      </div>


      <div class="toggle" data-controller="toggle">
        <label class="toggle-button-2" data-toggle-target="label">
          <input type="checkbox"
           data-toggle-target="checkbox"
           data-action="change->toggle#toggle"
           data-word-id="<%= @word.id %>"
           <%= 'checked' if @word.word_marks.exists?(user_id: current_user.id) %> />
        </label>
      </div>
    </div>

    <!-- > -->
    <% if @next_word %>
    <div class="nav_button nav_button_right">
      <%= link_to "＞", category_word_path(category_id: @category.id, id: @next_word.id, from_study: params[:from_study]), class: "nav_button_link", aria: { label: "next" } %>
    </div>
    <% end %>

  </div>  

