
  <div class="back_button_area">
    <%= link_to "â†", categories_path, class: "back_button" %>
  </div>

  <div class="main_bottom">
    <div class="card_space_category">
      <div class="card_category_name"><%= @category.category_name%></div>

      <% @words.each do |word| %>
      <%= link_to category_word_path(word.category_id, word.id), data: { turbo_frame: "main_content" } do %>
      <div class="card_show">
        <div class="card_title"><%= word.title %></div>
      </div>
      <% end %>
      <% end %>

      <%= link_to new_category_word_path(@category), data: { turbo_frame: "main_content" } do %>
        <div class="card_show_add">
          <div class="card_title">+</div>
        </div>
      <% end %>

    </div>    
  </div>  
