<div class="side_header">
    <div class="si Mypage">
        <p class="user_nickname">
            <% if current_user %>
                 <%= link_to current_user.nickname, mypage_path %>
              <% else %>
                  <%= link_to "ログイン", new_user_session_path %>
            <% end %>
        </p>
    </div>
</div>

<div class="side_bottom">
    <div class="si Bookshelf"><p><%= link_to "Bookshelf", categories_path  %></p></div>
    <div class="si Study"><p><%= link_to "Study", studies_path %></p></div>
    <div class="si Group"><p><%= link_to "Group", groups_path %></p></div>
</div>