<div class="side_header">
    <div class="si Mypage">
        <% if current_user %>
            <%= link_to mypage_path, class: "si Mypage" do %>
            <p class="user_nickname"><%= current_user.nickname %></p>
            <% end %>
        <% else %>
            <%= link_to new_user_session_path, class: "si Mypage" do %>
            <p class="user_nickname">ログイン</p>
            <% end %>
        <% end %>
    </div>
</div>

<div class="side_bottom">
    <div class="si Bookshelf">
      <%= link_to categories_path, class: "si Bookshelf" do %>
        <p>Bookshelf</p>
      <% end %>
    </div>
    <div class="si Study">
      <%= link_to studies_path, class: "si Study" do %>
        <p>Study</p>
      <% end %>
    </div>
    <div class="si Group">
      <%= link_to groups_path, class: "si Group" do %>
        <p>Group</p>
      <% end %>
    </div>
</div>