<!DOCTYPE html>
<html>
  <head>
    <title>WordApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="side_bar" style="background-color: <%= current_user&.color&.backcolor || '#D9D9D9' %>;">
        <%= render "bases/side_bar" %>
      </div>

      <div class="main">
        <div class="main_header">
          <%= render "bases/main_header" %>
        </div>

        <div class="main_content">
          <% if controller_name == "categories" && action_name == "index" %>
            <%= render template: "categories/index" %>
           <% else %>
            <%= yield %>
          <% end %>
        </div>

      </div>
    </div>
  </body>
</html>
